header {
    background-color: map-get($colores, gris);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    .logo {
        align-self: center;
    }
    nav {
        align-self: center;
        .inicio,
        .servicios,
        .proyectos,
        .contactar {
            padding: 20px;
        }
    }
}